<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-0" style="margin-top: 240px;">
            <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                    <label class="mr-sm-2" for="select">
                           <span>Select Geography</span>
                           </label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select" name="select" ng-model="dataCtrl.geographyName" ng-change="dataCtrl.updateVariableList()">
                            <option value="ssa">
                                Subregional Study Area
                            </option>
                            <option value="jurisdiction">
                                Jurisdiction
                            </option>
                            <!-- <option value="pda">
                              Priority Development Area
                            </option> -->
                           
                           </select>
                </div>
                <div class="form-group">
                    <label class="mr-sm-2" for="select1">
                            <span>Select County</span>  
                           </label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select1" name="select1" ng-model="dataCtrl.countyName">
                            <option value="Alameda">
                           Alameda
                            </option>
                            <option value="Contra Costa">
                           Contra Costa
                            </option>
                            <option value="Napa">
                            Napa
                            </option>
                            <option value="Marin">
                                Marin
                             </option>
                              <option value="San Francisco">
                                    San Francisco
                              </option>
                               <option value="San Mateo">
                                        San Mateo
                                </option>
                                 <option value="Santa Clara">
                                            Santa Clara
                                 </option>
                                  <option value="Solano">
                                                Solano
                                   </option>
                                   <option value="Sonoma">
                                                    Sonoma
                                     </option>
                           </select>
                </div>
                <div class="form-group">
                    <label class="mr-sm-2" for="select4">
                            <span>Select Variable</span>  
                           </label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select4" name="select4" ng-model="dataCtrl.variableName" ng-change="dataCtrl.updateTable()" ng-options="variable.variable as variable.variable for variable in dataCtrl.variableList">
                    </select>
                </div>
            </form>
            <!-- <button class="btn btn-default" ng-click="dataCtrl.updateTable()">View Data</button> -->
            <button class="btn btn-default ma-top-20" ng-click="dataCtrl.mapView()">View Map</button>


        </div>
        <div class="col-lg-9 col-md-10 col-sm-12 ma-top-80">
            <div class="table-content" style="margin-top: 80px;">

                <h1> {{dataCtrl.dataDescription}}</h1>
                <table class="table table-striped table-responsive">
                    <thead>
                        <th></th>
                        <th>2005</th>
                        <th>2010</th>
                        <th>2015</th>
                        <th>2020</th>
                        <th>2025</th>
                        <th>2030</th>
                        <th>2035</th>
                        <th>2040</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataCtrl.finalData">
                            <td>{{data.name}}</td>
                            <td class="text-right">{{data[2005]| number:0}}</td>
                            <td class="text-right">{{data[2010]| number:0}}</td>
                            <td class="text-right">{{data[2015]| number:0}}</td>
                            <td class="text-right">{{data[2020]| number:0}}</td>
                            <td class="text-right">{{data[2025]| number:0}}</td>
                            <td class="text-right">{{data[2030]| number:0}}</td>
                            <td class="text-right">{{data[2035]| number:0}}</td>
                            <td class="text-right">{{data[2040]| number:0}}</td>
                        </tr>
                        <tr>
                            <td>
                                <h6>{{dataCtrl.countyTotal.name}} County</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2005]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2010]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2015]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2020]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2025]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2030]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2035]| number:0}}</h6>
                            </td>
                            <td class="text-right">
                                <h6>{{dataCtrl.countyTotal[2040]| number:0}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>