.form-inline .form-control {
    display: inline-block!important;
    width: 225px !important;
    vertical-align: middle!important;
}

// .form-inline label {
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-align: left;
//     align-items: left;
//     -ms-flex-pack: left;
//     /* justify-content: center; */
//     margin-bottom: 0;
// }
.form-inline {
    display: -ms-flexbox;
    display: inline-block !important;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.custom-select {
    width: 225px !important;
}

// .table {
//     width: 80% !important;
//     max-width: 80% !important;
//     margin-bottom: 1rem;
//     background-color: transparent;
// }