<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <img src="/assets/images/intro-logos.png" class="img-fluid" alt="Responsive image" style="height:80%;width:80%">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </p>
                    <br />
                </div>
            </div>

        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="banner-section text-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <h1 class="ma-bottom-20">Projections 2040</h1>
                <p class="text-left">Projections 2040 is the most recent in the Association of Bay Area Governments’ series of statistical compendia on demographic, economic, and land use changes in coming decades. The current version covers the period between 2010 and 2040.
                    The projections illustrate how the region will accommodate growth if local jurisdictions adopt a set of policies consistent with the vision of Plan Bay Area. We make reasonable assumptions about the Bay Area’s share of national economic
                    growth informed by an understanding of the region’s changing demographic characteristics. The distribution of growth within the region among counties, cities and PDAs is built around expected local policies and infrastructure investment
                    as well as historic economic behavior.</p>
            </div>
            <div class="col-lg-5 mx-auto text-right">
                <div class="item-1">
                    <p class="bigText">1.1</p>
                    <p class="mediumText">million new jobs</p>
                    <p class="smallText">will be added by 2040</p>
                </div>

                <div class="item-2">
                    <p class="bigText">2.1</p>
                    <p class="mediumText">million new residents</p>
                    <p class="smallText">will be added by 2040</p>
                </div>
                <div class="item-3">
                    <p class="bigText">380k</p>
                    <p class="mediumText">new jobs</p>
                    <p class="smallText">will be in the</p>
                    <p class="smallText"> Professional and Managerial</p>
                    <p class="smallText">sectors by 2040</p>

                </div>
            </div>

        </div>
    </div>
</section>
<section id="content" class="content-section text-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">

                <h4 class="ma-bottom-20">Forecast of Population, Households and Jobs</h4>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 mx-auto">
                <div class="button-wrapper btn-fill-space mb-4 mt-3">
                    <button class="btn btn-app" value="Population" ng-click="$ctrl.filterViz($event)"><span class="btnSelect">Population</span></button>
                    <button class="btn btn-app" value="Households" ng-click="$ctrl.filterViz($event)"><span class="btnSelect">Households</span></button>
                    <button class="btn btn-app" value="Jobs" ng-click="$ctrl.filterViz($event)"><span class="btnSelect">Jobs</span></button>
                    <button class="btn btn-app" value="Employed Residents" ng-click="$ctrl.filterViz($event)"><span class="btnSelect">Employed Residents</span></button>
                    <button class="btn btn-app" value="Housing Units" ng-click="$ctrl.filterViz($event)"><span class="btnSelect">Housing Units</span></button>
                </div>
            </div>
        </div>

        <!-- Data Charts will go here... -->
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!-- Tableau Viz -->
                <div id="vizContainer" style="width:100%; height:auto;"></div>
                <!-- <small>Developer Note: This feature is exploratory. May not be implemented in this fashion.</small> -->
            </div>
        </div>
        <!-- Data Table will go here... -->
        <div class="row mt-3">
            <div class="col-lg-12 mx-auto">
                <h4 class="ma-bottom-20">Regional Projections</h4>
                <div id="dataContainer" style="width:100%; height:auto;"></div>
                <div id="forecastTable" style="width:100%; height:auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr text-align="right">
                                <td rowspan="1">
                                    <p><strong>&nbsp;</strong></p>
                                    <p><strong>&nbsp;</strong></p>
                                </td>
                                <td colspan="2">
                                    <p><strong>Public Data Estimates</strong></p>
                                </td>
                                <td colspan="7">
                                    <p><strong>Plan Bay Area Model Estimates</strong></p>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr text-align="right">
                                <td>
                                    <td>
                                        <p>2010</p>
                                    </td>
                                    <td>
                                        <p>2015</p>
                                    </td>
                                    <td>
                                        <p>2010</p>
                                    </td>
                                    <td>
                                        <p>2015</p>
                                    </td>
                                    <td>
                                        <p>2020</p>
                                    </td>
                                    <td>
                                        <p>2025</p>
                                    </td>
                                    <td>
                                        <p>2030</p>
                                    </td>
                                    <td>
                                        <p>2035</p>
                                    </td>
                                    <td>
                                        <p>2040</p>
                                    </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Population</strong></p>
                                </td>
                                <td>
                                    <p>7,150,740</p>
                                </td>
                                <td>
                                    <p>7,573,915</p>
                                </td>
                                <td>
                                    <p>7,174,920</p>
                                </td>
                                <td>
                                    <p>7,591,490</p>
                                </td>
                                <td>
                                    <p>7,920,230</p>
                                </td>
                                <td>
                                    <p>8,284,200</p>
                                </td>
                                <td>
                                    <p>8,689,440</p>
                                </td>
                                <td>
                                    <p>9,142,745</p>
                                </td>
                                <td>
                                    <p>9,652,950</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Household Population</strong></p>
                                </td>
                                <td>
                                    <p>6,998,465</p>
                                </td>
                                <td>
                                    <p>7,423,305</p>
                                </td>
                                <td>
                                    <p>7,029,350</p>
                                </td>
                                <td>
                                    <p>7,438,280</p>
                                </td>
                                <td>
                                    <p>7,758,540</p>
                                </td>
                                <td>
                                    <p>8,113,640</p>
                                </td>
                                <td>
                                    <p>8,509,245</p>
                                </td>
                                <td>
                                    <p>8,952,495</p>
                                </td>
                                <td>
                                    <p>9,451,375</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Households</strong></p>
                                </td>
                                <td>
                                    <p>2,606,290</p>
                                </td>
                                <td>
                                    <p>2,678,810</p>
                                </td>
                                <td>
                                    <p>2,608,025</p>
                                </td>
                                <td>
                                    <p>2,760,480</p>
                                </td>
                                <td>
                                    <p>2,881,965</p>
                                </td>
                                <td>
                                    <p>3,009,055</p>
                                </td>
                                <td>
                                    <p>3,142,015</p>
                                </td>
                                <td>
                                    <p>3,281,130</p>
                                </td>
                                <td>
                                    <p>3,426,700</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Persons per Household</strong></p>
                                </td>
                                <td>
                                    <p>2.69</p>
                                </td>
                                <td>
                                    <p>2.77</p>
                                </td>
                                <td>
                                    <p>2.70</p>
                                </td>
                                <td>
                                    <p>2.69</p>
                                </td>
                                <td>
                                    <p>2.69</p>
                                </td>
                                <td>
                                    <p>2.70</p>
                                </td>
                                <td>
                                    <p>2.71</p>
                                </td>
                                <td>
                                    <p>2.73</p>
                                </td>
                                <td>
                                    <p>2.76</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Employed Residents</strong></p>
                                </td>
                                <td>
                                    <p>3,506,680</p>
                                </td>
                                <td>
                                    <p>3,894,850</p>
                                </td>
                                <td>
                                    <p>3,376,380</p>
                                </td>
                                <td>
                                    <p>4,026,995</p>
                                </td>
                                <td>
                                    <p>4,147,000</p>
                                </td>
                                <td>
                                    <p>4,270,595</p>
                                </td>
                                <td>
                                    <p>4,397,865</p>
                                </td>
                                <td>
                                    <p>4,528,925</p>
                                </td>
                                <td>
                                    <p>4,663,900</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Agriculture &amp; Natural Resources</strong></p>
                                </td>
                                <td>
                                    <p>17,775</p>
                                </td>
                                <td>
                                    <p>18,905</p>
                                </td>
                                <td>
                                    <p>22,800</p>
                                </td>
                                <td>
                                    <p>24,990</p>
                                </td>
                                <td>
                                    <p>24,865</p>
                                </td>
                                <td>
                                    <p>24,740</p>
                                </td>
                                <td>
                                    <p>24,620</p>
                                </td>
                                <td>
                                    <p>24,500</p>
                                </td>
                                <td>
                                    <p>24,380</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Construction</strong></p>
                                </td>
                                <td>
                                    <p>158,235</p>
                                </td>
                                <td>
                                    <p>208,230</p>
                                </td>
                                <td>
                                    <p>165,115</p>
                                </td>
                                <td>
                                    <p>214,970</p>
                                </td>
                                <td>
                                    <p>223,660</p>
                                </td>
                                <td>
                                    <p>234,985</p>
                                </td>
                                <td>
                                    <p>253,405</p>
                                </td>
                                <td>
                                    <p>283,260</p>
                                </td>
                                <td>
                                    <p>313,405</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Manufacturing &amp; Wholesale</strong></p>
                                </td>
                                <td>
                                    <p>461,715</p>
                                </td>
                                <td>
                                    <p>493,060</p>
                                </td>
                                <td>
                                    <p>428,550</p>
                                </td>
                                <td>
                                    <p>423,600</p>
                                </td>
                                <td>
                                    <p>421,295</p>
                                </td>
                                <td>
                                    <p>420,630</p>
                                </td>
                                <td>
                                    <p>417,655</p>
                                </td>
                                <td>
                                    <p>413,115</p>
                                </td>
                                <td>
                                    <p>408,280</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Retail</strong></p>
                                </td>
                                <td>
                                    <p>351,945</p>
                                </td>
                                <td>
                                    <p>385,995</p>
                                </td>
                                <td>
                                    <p>325,645</p>
                                </td>
                                <td>
                                    <p>356,555</p>
                                </td>
                                <td>
                                    <p>364,515</p>
                                </td>
                                <td>
                                    <p>372,655</p>
                                </td>
                                <td>
                                    <p>380,975</p>
                                </td>
                                <td>
                                    <p>389,480</p>
                                </td>
                                <td>
                                    <p>398,175</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Transportation &amp; Utilities</strong></p>
                                </td>
                                <td>
                                    <p>92,200</p>
                                </td>
                                <td>
                                    <p>105,775</p>
                                </td>
                                <td>
                                    <p>97,135</p>
                                </td>
                                <td>
                                    <p>100,875</p>
                                </td>
                                <td>
                                    <p>102,025</p>
                                </td>
                                <td>
                                    <p>101,545</p>
                                </td>
                                <td>
                                    <p>103,370</p>
                                </td>
                                <td>
                                    <p>106,770</p>
                                </td>
                                <td>
                                    <p>110,460</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Information</strong></p>
                                </td>
                                <td>
                                    <p>127,220</p>
                                </td>
                                <td>
                                    <p>174,155</p>
                                </td>
                                <td>
                                    <p>117,545</p>
                                </td>
                                <td>
                                    <p>167,695</p>
                                </td>
                                <td>
                                    <p>164,360</p>
                                </td>
                                <td>
                                    <p>163,800</p>
                                </td>
                                <td>
                                    <p>165,255</p>
                                </td>
                                <td>
                                    <p>165,675</p>
                                </td>
                                <td>
                                    <p>164,965</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Financial &amp; Leasing</strong></p>
                                </td>
                                <td>
                                    <p>199,940</p>
                                </td>
                                <td>
                                    <p>207,910</p>
                                </td>
                                <td>
                                    <p>194,285</p>
                                </td>
                                <td>
                                    <p>246,565</p>
                                </td>
                                <td>
                                    <p>253,580</p>
                                </td>
                                <td>
                                    <p>248,760</p>
                                </td>
                                <td>
                                    <p>243,165</p>
                                </td>
                                <td>
                                    <p>238,500</p>
                                </td>
                                <td>
                                    <p>234,545</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Professional &amp; Managerial Services</strong></p>
                                </td>
                                <td>
                                    <p>619,135</p>
                                </td>
                                <td>
                                    <p>787,900</p>
                                </td>
                                <td>
                                    <p>623,120</p>
                                </td>
                                <td>
                                    <p>892,265</p>
                                </td>
                                <td>
                                    <p>920,790</p>
                                </td>
                                <td>
                                    <p>962,260</p>
                                </td>
                                <td>
                                    <p>1,005,650</p>
                                </td>
                                <td>
                                    <p>1,049,290</p>
                                </td>
                                <td>
                                    <p>1,093,435</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Health &amp; Educational Services</strong></p>
                                </td>
                                <td>
                                    <p>494,930</p>
                                </td>
                                <td>
                                    <p>631,500</p>
                                </td>
                                <td>
                                    <p>512,405</p>
                                </td>
                                <td>
                                    <p>590,035</p>
                                </td>
                                <td>
                                    <p>647,675</p>
                                </td>
                                <td>
                                    <p>702,615</p>
                                </td>
                                <td>
                                    <p>758,840</p>
                                </td>
                                <td>
                                    <p>821,080</p>
                                </td>
                                <td>
                                    <p>887,590</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Arts, Recreation &amp; Other Services</strong></p>
                                </td>
                                <td>
                                    <p>566,460</p>
                                </td>
                                <td>
                                    <p>610,745</p>
                                </td>
                                <td>
                                    <p>485,720</p>
                                </td>
                                <td>
                                    <p>522,895</p>
                                </td>
                                <td>
                                    <p>530,455</p>
                                </td>
                                <td>
                                    <p>544,530</p>
                                </td>
                                <td>
                                    <p>561,365</p>
                                </td>
                                <td>
                                    <p>576,465</p>
                                </td>
                                <td>
                                    <p>591,820</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Government</strong></p>
                                </td>
                                <td>
                                    <p>362,270</p>
                                </td>
                                <td>
                                    <p>401,885</p>
                                </td>
                                <td>
                                    <p>450,520</p>
                                </td>
                                <td>
                                    <p>469,690</p>
                                </td>
                                <td>
                                    <p>482,970</p>
                                </td>
                                <td>
                                    <p>491,245</p>
                                </td>
                                <td>
                                    <p>490,830</p>
                                </td>
                                <td>
                                    <p>480,430</p>
                                </td>
                                <td>
                                    <p>471,315</p>
                                </td>
                            </tr>
                            <tr text-align="right">
                                <td>
                                    <p><strong>Total Jobs</strong></p>
                                </td>
                                <td>
                                    <p>3,451,820</p>
                                </td>
                                <td>
                                    <p>4,026,060</p>
                                </td>
                                <td>
                                    <p>3,422,845</p>
                                </td>
                                <td>
                                    <p>4,010,135</p>
                                </td>
                                <td>
                                    <p>4,136,190</p>
                                </td>
                                <td>
                                    <p>4,267,760</p>
                                </td>
                                <td>
                                    <p>4,405,125</p>
                                </td>
                                <td>
                                    <p>4,548,565</p>
                                </td>
                                <td>
                                    <p>4,698,375</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Download Section -->
<section id="download" class="download-section banner-section text-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h1>Download Data</h1>

            </div>
        </div>
    </div>
</section>
<section id="download-content" class="content-section text-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>You can download the projections data for free from our Open Data site. The following datasets are available for downloads:</p>
                <!-- <p> <a href="https://open-data-demo.mtc.ca.gov/Agency/Draft-Projections-2017-by-Subregional-Study-Areas/bijg-2bez" target="_blank" class="btn btn-data btn-lg">Projections 2040 by Subregional Study Area</a>
                </p> -->
                <p>
                    <a href="https://mtc.data.socrata.com/api/views/grqz-amra/files/bf2d7a33-b68e-473d-800f-956d08207b77?download=true&filename=formated_tables_juris.xlsx" target="_blank" class="btn btn-data btn-lg">Projections 2040 by Jurisdiction</a>
                </p>
                <!-- <p>
                                <a href="https://open-data-demo.mtc.ca.gov/Agency/Draft-Projections-2017-by-Priority-Development-Are/wbrw-wuir" target="_blank" class="btn btn-default btn-lg">Projections 2040 by Priority Development Areas</a>
                            </p> -->
            </div>
        </div>
    </div>
</section>


<!-- Contact Section -->
<!-- <section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to leave us a comment on the
                    <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a> on Start Bootstrap to give some feedback about this theme!</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                            <i class="fa fa-google-plus fa-fw"></i>
                            <span class="network-name">Google+</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> -->