table.minimalistBlack {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: 13px;
  }
  table.minimalistBlack tr:nth-child(even) {
    background: #CFCFCF;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
  }
  table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  }
  table.minimalistBlack tfoot td {
    font-size: 14px;
  }

.bigText {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    line-height: 70px;
}

.mediumText {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    line-height: 50px;
}

.smallText {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    line-height: 40px;
}

.item-1 {
    animation-name: anim-1;
    position: absolute;
    display: block;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-2 {
    animation-name: anim-2;
    position: absolute;
    display: block;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-3 {
    animation-name: anim-3;
    position: absolute;
    display: block;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes anim-1 {
    0%,
    8.3% {
        opacity: 0;
    }
    8.3%,
    25% {
        opacity: 1;
    }
    33.33%,
    100% {
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        opacity: 0;
    }
    41.63%,
    58.29% {
        opacity: 1;
    }
    66.66%,
    100% {
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        opacity: 0;
    }
    74.96%,
    91.62% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
